.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.heading {
    padding: 40px;
    margin-bottom: 20px;
}

.heading-title {
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 500;
}

.block-table {
    width: 80%;
    margin: 0 auto;
}

th {
    font-weight: 500;
    font-size: 1.2em;
}

th,
td {
    padding: 8px 15px;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
}

.btn-fixed {
    position: fixed;
    text-decoration: none;
    bottom: 6%;
    right: 4%;
    background-color: rgba(127, 255, 212, 0.466);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all .25s linear;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-fixed i {
    font-size: 1.4em;
}

.btn-fixed:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-row-action {
    text-align: center;
}

.table-row-action i:first-child {
    margin-right: 4px;
}

.table-row-action i {
    cursor: pointer;
    transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.table-row-action i:hover {
    transform: translateY(-2px);
}

/* Modal style */

.modal-wrap-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.472);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-wrap-overlay.active {
    display: flex;
}

.modal {
    max-width: 800px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 14px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.modal-heading-text {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600;
}

.modal-content {
    margin-bottom: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 10px;
    margin-bottom: -8px;
}

.modal-btn {
    padding: 10px;
    min-width: 110px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-weight: 500;
    transition: all .15s linear;
    font-size: 1.1em;
}

.modal-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-btn.primary {
    background-color: #65C18C;
    color: #000;
}

.modal-btn.danger {
    background-color: #FC4F4F;
    color: #000;
}

.form-input {
    padding: 18px 20px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    transition: all .15s linear;
}

.form-input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-label {
    text-transform: capitalize;
    margin-right: 10px;
    font-weight: 300;
}

.form-table {
    width: 100%;
}

.form-table th {
    width: 30%;
}

.form-checkbox {
    transform: scale(2) translateX(1.6px);
}

input[disabled] {
    font-weight: 700;
    cursor: text;
}

.text-alert {
    color: red;
}

.form-message {
    text-align: right;
    margin-top: 6px;
    padding-right: 14px;
    display: none;
}

.form-message.active {
    display: block;
}